<%= form_for(@user) do |f|%>
 <p>
    <%= f.label :Hello %>
     <%= @user.firstname %>
  </p>
 <%= f.fields_for :user_interviews do |builder| %>
  <p>
    <%= builder.label :CompanyName %><br>
    <%= builder.text_field :companyname %>
  </p>
  <p>
    <%= builder.label :url,"Job Description URL" %><br>
    <%= builder.text_field :url %>
  </p>
  <p>
    <%= builder.label :interviewdate,"Interview Date" %><br>
    <%= builder.datetime_local_field :interviewdate %>
  </p>
   <p>
    <%= builder.label :"Round","Round" %><br>
    <%= builder.text_field :round %>
  </p
 <% end %>
  <p>
    <%= f.submit %>
  </p>
 
<% end %>