
<h2>Interview</h2>
  <p>
    <strong>InterviewCompany:</strong>
    <%= @userinterview.companyname %>
  </p>
  <p>
    <strong>InterviewDate:</strong>
    <%= @userinterview.interviewdate %>
  </p>
  <p>
    <strong>Round:</strong>
    <%= @userinterview.round %>
  </p>
  <p>
    <strong>JobDescription:</strong>
    <%= @userinterview.url %>
  </p>
<%= link_to 'Interview List', users_path %>
