<h3>
  Welcome,
  <%= @user.firstname %></h3>
  
<%= link_to 'Add New Interview', new_user_userinterview_path(@user) %>   
<h4>Listing Interview</h4>

<table border="1" class="table">
  <tr>
    <thead class="thead-default">
    <th>CompanyName</th>
    <th>Interview Date</th>
    <th>Round</th>
    <th>Job Description</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
 
  <% @user.user_interviews.each do |interview| %>
    <tr>
      <td><%= interview.companyname %></td>
      <td><%= interview.interviewdate %></td>
      <td><%= interview.round %></td>
      <td><%= interview.url %></td>
      <td><%= link_to 'Show', user_userinterview_path(@user, interview) %></td>
      <td><%= link_to 'Edit', edit_user_userinterview_path(@user, interview) %></td>
      <td>
      <%= link_to 'destroy', 
        user_userinterview_path(@user, interview),
        method: :delete,
        data: {confirm: 'Are you Sure?'} %>
      </td>
    </tr>
  <% end %>
</table>